:root {
  --myspaceBlue: #003399;
  --bodyBg: black;
  --profileElemBg: #222222;
  --textColor: grey;
}

body {
  margin: 0;
  background-color: var(--bodyBg);
}

header {
  display: flex;
  padding-left: 375px;
  background-color: var(--myspaceBlue);
  color: white;
  height: 6vh;
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

header a {
  text-decoration: none;
  color: inherit;
  background: none;
}

th, td {
  border: solid;
}

th {
  text-align: left;
}

.main {
  margin: 0px 375px 0px 375px;
}

.gridContainer {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
}

.gridContainer div {
  padding: 10px 10px 10px 10px;
}

.profileElement {
  background-color: var(--profileElemBg);
  color: var(--textColor);
  border-style: solid;
}

#rootLink::after {
  content: attr(normalText);
}

#rootLink:hover::after {
  content: attr(hoverText);
}
