#rootLink:hover::after {
  content: "MySpace.com";
}

.flexContainer {
  display: flex;
}

#profileBox #profileLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profileBox #profileRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

#profileBox #displayName {
  font-weight: bold;
  font-size: large;
}

#musicBox {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

#interests {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

#profileBox #pfp {
  height: 200px;
  padding: 0px 10px 10px 0px;
  width: auto;
  max-width: unset;
  aspect-ratio: 1;
}

@media only screen and (min-width: 992px) {
  #profileIndex {
    grid-template-columns: 35% auto;
  }

  #profileBox {
    grid-column: 1;
    grid-row: 1/5;
  }

  #interests {
    grid-row: 6;
    grid-column: 1;
  }

  #musicBox {
    grid-column: 1;
    grid-row: 5/6;
  }

  #blogEntries { 
    grid-column: 2;
    grid-row: 1/4;
  }

  #blurbs {
    grid-row: 4/7;
    grid-column: 2;
  }
}
