:root {
  --myspaceBlue: #003399;
  --navColor: #6698CB;
  --bodyBg: black;
  --profileElemBg: #222222;
  --textColor: #8f8f8f;
  box-sizing: border-box;
  line-height: 1.3;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./stars.gif");
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header #header {
  display: flex;
  background-color: var(--myspaceBlue);
  color: white;
  height: 4em;
  width: 100%;
  align-items: center;
}

header #nav {
  background-color: var(--navColor);
  height: 2em;
  margin: 0px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header #nav * {
  padding-left: 5px;
  padding-right: 5px;
}

header #nav a {
  text-decoration: none;
  color: white;
}

header #nav a:hover {
  text-decoration: underline;
  color: darkblue;
}

header #header a {
  text-decoration: none;
  color: inherit;
  background: none;
  margin-left: 2.5vw;
}

main {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  color: var(--textColor);
}

a {
  color: steelblue;
}

a:hover {
  color: lightsteelblue;
}

table {
  background-color: var(--profileElemBg);
}

th, td {
  border: solid;
}

th {
  text-align: left;
}

.profileElement {
  background-color: var(--profileElemBg);
  border-style: solid;
  padding: 10px 10px 10px 10px;
}

.blogPost {
  min-height: 75vh;
}

.blogPost img {
  margin: 0 auto;
  display: block;
}

.gridContainer {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
}

#rootLink::after {
  content: "eddie.jeselnik.xyz";
}

@media only screen and (min-width: 992px) {
  main {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  header #header a {
    margin-left: 5vw;
  }
}

@media only screen and (min-width: 1400px) {
  main {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  header #header a {
    margin-left: 15vw;
  }
} 
