:root {
    --background: #202020;
    --title_colour: #206bd1;
    --text_colour: #979ba1;
    --link_colour: #335fa9;
    --link_colour_hover: #4a89f2;
}

body {
	font-family: serif ;
	background: var(--background) ;
	color: var(--text_colour) ;
}

a {
	color: var(--link_colour);
	text-decoration: none;
}

a:hover {
	color: var(--link_colour_hover)
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100%;
}

h1, h2, h3 {
	text-align: center ;
	color: var(--title_colour);
}

footer {
	text-align: center ;
	clear: both ;
}

nav {
	text-align: center;
	font-weight: bold;
	font-size: large;
	margin-top: 2.5vh;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid-container {
	display: grid;
	min-width: 0;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
}

#about {
	grid-column: 1/2;
	grid-row: 1/2;
}

#updates {
	grid-column: 2/3;
	grid-row: 1/2;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
