<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ $indexJs := resources.Get "ts/index/index.ts" | js.Build "js/index.js" }}
  <script src="{{ $indexJs.RelPermalink }}"></script>
  <link href="/style/index.css" rel="stylesheet">
  <meta name="description" content="Eddie Jeselnik's corner of the internet.">
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
