{{- define "main" }}
  <div id="profileBox" class="profileElement">
    <p id="displayName">Eddie</p>
    <div class="flexContainer">
      <div id="profileLeft">
        {{- $profilePic := resources.Get "assets/pfp.webp" | fingerprint }}
        <img id="pfp" src="{{ $profilePic.RelPermalink }}" alt="Me!">
        <p id="visitorCount"></p>
      </div>
      <div id="profileRight">
        <span>:^)</span>
        <span>Male</span>
        <span id="agePar"></span>
        <span id="location">Melbourne, Australia</span>
        <img id="onlineBadge" src="/assets/badges/online.gif"/>
      </div>
    </div>
    <span>View My: <a href="/blog">Blog</a> | <a href="/photos">Pics</a></span>
  </div>

  <iframe id="musicBox" class="profileElement" title="i'd autoplay if those w3c communists would let me"
    style="border-radius:12px" src="" width="100%" height="100" frameBorder="0" allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
  </iframe>

  {{- $rssIcon := resources.Get "assets/feed.png" | fingerprint }}
  <div id="blogEntries" class="profileElement textElement">
    Eddie's Latest Blog Entries: [<a href="/index.xml">Subscribe to this Blog <img id="rssIcon" src="{{- $rssIcon.RelPermalink }}"/></a>]
    <br>
    <ul>
    {{- range where .Site.RegularPages "Section" "in" (slice "blog" "photos") }}
      <li>{{ .Title }} (<a href="{{ .RelPermalink }}">view more</a>)</li>
    {{- end }}
    </ul>
  </div>

  <div id="blurbs" class="profileElement">
    Hi and welcome to my website! If it's not blatantly obvious, I have a penchant for tasteless design which is why 
    my life's ambition is to own a light-yellow brick home in Brunswick West furnished with only the finest baroque pieces
    from Franco Cozzo's deadstock warehouse.
  </div>

  <table id="interests" class="profileElement">
    <tr>
      <th colspan="2">Eddie's Interests</th>
    </tr>
    <tr>
      <th>Music:</th>
      <td>Post-Punk, Goth, 2010s Indie, Synthpop</td>
    </tr>
    <tr>
      <th>Hobbies:</th>
      <td>Drumming, Calisthenics, Reading</td>
    </tr>
    <tr>
      <th>Dislikes:</th>
      <td>Being compared to Edward from that twilight movie!!! <b> >:( </b></td>
    </tr>
  </table>
{{- end }}
