#rootLink:hover::after {
  content: "MySpace.com";
}

#profileBox #displayName {
  font-weight: bold;
  font-size: large;
}

#musicBox {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

#interests {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

#profileBox #pfp {
  height: 200px;
  padding: 0px 10px 10px 0px;
  width: auto;
  aspect-ratio: 1;
  float: left;
}

@media only screen and (min-width: 992px) {
  #profileIndex {
    grid-template-columns: 0.55fr 0.75fr;
  }

  #profileBox {
    grid-column: 1;
    grid-row: 1/4;
  }

  #interests {
    grid-row: 5;
    grid-column: 1;
  }

  #musicBox {
    grid-column: 1;
    grid-row: 4/5;
  }

  #blogEntries { 
    grid-column: 2;
    grid-row: 1/3;
  }

  #blurbs {
    grid-row: 3/5;
    grid-column: 2;
  }
}

@media only screen and (min-width: 1200px) {
  #profileIndex {
    grid-template-columns: 0.45fr 1fr;
  }
} 
