:root {
  --myspaceBlue: #003399;
  --navColor: #6698CB;
  --bodyBg: black;
  --profileElemBg: #222222;
  --textColor: grey;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./stars.gif");
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header #header {
  display: flex;
  background-color: var(--myspaceBlue);
  color: white;
  height: 6vh;
  width: 100%;
  align-items: center;
}

header #nav {
  background-color: var(--navColor);
  height: 3vh;
  margin: 0px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header #nav * {
  padding-left: 5px;
  padding-right: 5px;
}

header #nav a {
  text-decoration: none;
  color: white;
}

header #nav a:hover {
  text-decoration: underline;
  color: darkblue;
}

header #header a {
  text-decoration: none;
  color: inherit;
  background: none;
  padding-left: 50px;
}

main {
  padding: 0px 20px 20px 20px;
}

a {
  color: steelblue;
}

a:hover {
  color: lightsteelblue;
}

table {
  background-color: var(--profileElemBg);
}

th, td {
  border: solid;
}

th {
  text-align: left;
}

.profileElement {
  background-color: var(--profileElemBg);
  color: var(--textColor);
  border-style: solid;
}

.profileElement {
  padding: 10px 10px 10px 10px;
}

.gridContainer {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
}

#rootLink::after {
  content: "eddie.jeselnik.xyz";
}

@media only screen and (min-width: 992px) {
  main {
    padding: 0px 20px 0px 20px;
  }

  header #header a {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    padding: 0px 375px 0px 375px;
  }

  header #header a {
    padding-left: 375px;
  }
} 
