:root {
  --myspaceBlue: #003399;
  --bodyBg: black;
  --profileElemBg: #222222;
  --textColor: grey;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("stars.gif");
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  background-color: var(--myspaceBlue);
  color: white;
  height: 6vh;
  width: 100%;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

header a {
  text-decoration: none;
  color: inherit;
  background: none;
  padding-left: 50px;
}

main {
  padding: 0px 20px 20px 20px;
}

table {
  background-color: var(--profileElemBg);
}

th, td {
  border: solid;
}

th {
  text-align: left;
}

.profileElement {
  background-color: var(--profileElemBg);
  color: var(--textColor);
  border-style: solid;
}

.gridContainer {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
}

.gridContainer div {
  padding: 10px 10px 10px 10px;
}

#rootLink::after {
  content: "eddie.jeselnik.xyz";
}

#rootLink:hover::after {
  content: "MySpace.com";
}

@media only screen and (min-width: 992px) {
  main {
    padding: 0px 20px 0px 20px;
  }

  header a {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    padding: 0px 375px 0px 375px;
  }

  header a {
    padding-left: 375px;
  }
} 
